/*文字标签划痕*/
.tag--strike{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: color-mix(in srgb, var(--text) 65%, transparent);
}

/*拷贝支持*/
.linkCard { position: relative; cursor: pointer; }

.linkCard.is-copied::after {
  content: attr(data-tip);
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  background: var(--card);
  color: --text;
  pointer-events: none;
}

/*拷贝支持*/